.place__url-heading {
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaa;
  margin: 0 0 12px;
}


@media (max-width: 330px) {
  .place__url-heading {
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px;
  }
}