.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  align-self: center;
  margin: 32px 0 64px;
  max-width: 640px;
  text-align: center;
}

@media (max-width: 680px) {
  .lead__subtitle {
    font-size: 28px;
    line-height: 30px;
    max-width: 550px;
  }
}

@media (max-width: 575px) {
  .lead__subtitle {
    font-size: 25px;
    line-height: 30px;
    max-width: 400px;
  }
}

@media (max-width: 430px) {
  .lead__subtitle {
    font-size: 18px;
    line-height: 25px;
    max-width: 300px;
  }
}

@media (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
  }
}
